<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>  
    <section>
        <form class="types" action="/type" method="post" class="type">
            <% if (type=="trivia") {%>
            <button class="trivia button animate" type="submit" value="trivia" name="type">Trivia</button>
            <%}else{ %>
            <button class="trivia button" type="submit" value="trivia" name="type">Trivia</button>
            <%} %>
            <% if (type=="math") {%>
            <button class="math button animate" type="submit" value="math" name="type">Math</button>
            <%}else{ %>
            <button class="math button" type="submit" value="math" name="type">Math</button>
            <%} %>
            <% if (type=="date") {%>
            <button class="date button animate" type="submit" value="date" name="type">Date</button>
            <%}else{ %>
            <button class="date button" type="submit" value="date" name="type">Date</button>
            <%} %>
        </form>
    <h1>Choose a number</h1>
    <form action="/resp" class="numForm" method="post">
        <input type="number" id="num" name="number">
    </form>
</section>
<% if (locals.number) { %>
    <h2 class="num"><%= number %> </h2>  
<% } %>
<h2> <%= data %></h2>
</body>
</html>